/* src/styles/About.scss */
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner {
  margin-bottom: 20px; /* Ajoutez un espace entre la bannière et le reste du contenu */
}
