.card {
  position: relative;
  width: 340px;
  height: 340px;
  background-color: #FF6060;
  border-radius: 8px;
  overflow: hidden;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: flex-end;
  padding: 20px;
  box-sizing: border-box;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(10, 10, 10, 0) 42%, rgba(4, 4, 4, 0.205) 99.99%, rgba(0, 0, 0, 0.5) 100%);

}

.card-content {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

