.carousel-container {
    position: relative;
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
  }
  
  .carousel-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
    max-height: 300px;
    object-fit: cover;
  }
  
  .prev-button,
  .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
  }
  
  .prev-button {
    left: 10px;
  }
  
  .next-button {
    right: 10px;
  }
  
  .image-icone {
    border: solid white;
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 15px;
    transform: rotate(130deg);
    transition: transform 0.3s ease;
  }
  
  .image-icone.rotate {
    transform: rotate(320deg);
  }
  
  .image-counter {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
  }
  