/* src/styles/Home.scss */
.home-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.titre {
  font-size: 48px;
  font-weight: 700;
  line-height: 68.45px;
}


@media (max-width: 470px) {
  
  .card {
    width: 90% ;
  }

}
